<div class="carousel">
  <ng-container *ngFor="let slide of this.imageObject; let i = index">
    <img
      *ngIf="i === currentSlide && !!slide"
      [src]="slide?.imageUrl"
      class="slide"
      (mouseenter)="toggleImageSlider($event)"
      (mouseleave)="toggleImageSlider($event)"
      @carouselAnimation
    />
    <div *ngIf="i === currentSlide && !!slide" class="imgTitle">
      {{ slide?.title }}
      <p>Carousel is: {{ !!isCaroselRunning ? "Running" : "Paused" }}</p>
      <span
        class="dot"
        [class]="slide?.status === 'on' ? 'active' : 'inactive'"
      ></span>
    </div>
  </ng-container>
</div>
